<a href="https://colab.research.google.com/github/otorregrosa/OOP-Lab-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [11]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [12]:
#This is a comment
print("Hello World")

Hello World

In [13]:
person_a = "John"
print(person_a)

John

In [17]:
x = 1
array =[1,2,3]
print(array,x)

[1, 2, 3] 1
1

In [19]:
a= b= c= "Maria"
print(a)
print(b)
print(c)

Maria
Maria
Maria

In [24]:
n = int(4)
print(n)

4

In [21]:
c = "Sally"
print(type(c))

<class 'str'>