<a href="https://colab.research.google.com/github/otorregrosa/OOP-Lab-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [8]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for y in week:
  print(y)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

Break Statement

In [15]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for y in week:
  if y == "Thursday":
    print(y)
    break

Thursday

Break Statement pt. 2

In [17]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for y in week:
  if y == "Thursday":
    break
  print(y)

Monday
Tuesday
Wednesday

In [22]:
#Display only Tuesday and Wednesday
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for y in week:
  if y == "Tuesday":
    print(y)
    break
for x in week:
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

Looping through a string

In [23]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [24]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [27]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [34]:
#using break statement
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [35]:
#print only 3
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3

The else Statement

In [37]:
i = 1
while i<6:
  print(i)
  i+=1 
else:
  print(i, "is no longer less than 6")

1
2
3
4
5
6 is no longer less than 6

In [44]:
#application 1
i=0
while i<=10:
  print("Hello", i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [46]:
#application 2
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9